@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

header{
    /* background: #8B9E70; */
    background: linear-gradient(to bottom, #8B9E70 90%, #fff 10%);
    height: 100vh;
}
header h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    line-height: 40px;
}